<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SoSo Life</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p *ngIf="authService.userInfo == null" class="navbar-text">Already have an account?</p>
          <a class="dropdown-toggle user-icon" *ngIf="authService.userInfo != null"><img height="40" [src]="authService.userInfo.photoURL"></a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" *ngIf="authService.userInfo != null" (click)="logOut()"><b>Logout</b></a>
          <a  href="#" class="dropdown-toggle"  role="button" *ngIf="authService.userInfo == null" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
          <ul *ngIf="showDrop" id="login-dp" class="dropdown-menu">
            <li>
              <div class="row">
                <div class="col-md-12">
                  Login via
                  <div class="social-buttons">
                    <a (click)="googleLogin()" class="btn btn-fb"><i class="fa fa-google"></i> Google</a>
                  </div>
                  or
                  <form *ngIf="isLogPage" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputEmail2">Email address</label>
                      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputPassword2">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword" placeholder="Password" required>
                      <div class="help-block text-right"><a (click)="forgetPassword()">Forget the password ?</a></div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                  </form>
                </div>
                <div *ngIf="isLogPage" class="bottom text-center">
                  New here ? <a data-toggle="modal" data-target="#myModal"><b>Join Us</b></a>
                </div>

              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<app-toast *ngIf="ifOut" [message]="toast.message"></app-toast>

<router-outlet></router-outlet>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <ul class="row text-center">
        <li class="active col-md-3 col-xs-3"><a href="#">Home</a></li>
        <li class=" col-md-3 col-xs-3"><a href="#">Page 1</a></li>
        <li class=" col-md-3 col-xs-3"><a href="#">Page 2</a></li>
        <li class=" col-md-3 col-xs-3"><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" #closeBtn>&times;</button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">
        <app-toast *ngIf="!ifOut" [message]="toast.message"></app-toast>
        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address" required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
              required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Password</label>
            <input formControlName="reapeatpassword" type="password" class="form-control" id="exampleInputPassword2" placeholder="Repeat Password"
              required>
          </div>
          <div>
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>